:root{
  --blue:#2196F3;
  --black:#000000DE;
  --dark:#40464C;
  --gray:#748998;
  --green:#259323;
  --red:#EF4444;
  --white:#FBFBFB;
  --light-gray:#d5d5d5;
  --orange:rgb(234, 214, 111);
  --tableHeader: rgb(66, 107, 145);
}