@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/*icons configuration*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

*{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

/*Header typograpjy */
.header{
  h1{
  font-size: clamp(2.4rem, 5vw, 2.8rem);
  line-height: 4rem;
  font-weight: 500;
  color: var(--black);
}
&__buttons{
  button{
    font-size: clamp(1.5rem, 1.2vw, 2rem);
    font-weight: 500;
  }
  &-switchers{
    button{
      padding: 0.9rem 2.4rem;
    }
  }
}
}
/*filters typography*/
.filters{
  select{
    font-size: clamp(1.5rem, 1.2vw, 2.6rem);
    color: var(--black);
  }
  option{
    font-size: clamp(1.5rem, 1.3vw, 2rem);
  }
  label{
    font-size: clamp(1.2rem, 1vw, 2rem)
  }
  input{
    @extend select;
  }
}
/*table's typography*/
table{
  th{
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--black);
  }
  td{
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--dark);
    img{
      width: clamp(5rem, 4vw, 8rem);
      border-radius: 50%;
    }
    h2{
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      color: var(--black);
    }
    small{
      font-size: clamp(1.3rem, 2vw, 1.6rem);
    }
    .active,.inactive{
      text-transform: uppercase;
      font-size: clamp(1.2rem, 1.7vw, 2rem);
      color: var(--white);
    }
    .active{
      background-color: var(--green);
      padding: 0.5rem 1.2rem;
      border-radius: 0.2rem;
    }
    .inactive{
      background-color: var(--gray);
      padding: 0.5rem 1.2rem;
      border-radius: 0.2rem;
    }
  }
  td:last-child{
    color: var(--black);
  }
}

//edit dialog
.addDialog{
  &__header{
    h2{
      font-size: 2rem;
    }
  }
  &__form{
    select{
    font-size: clamp(1.3rem, 1.2vw, 2.6rem);
    color: var(--black);
  }
  option{
    font-size: clamp(1.4rem, 1.3vw, 2rem);
  }
  label{
    font-size: clamp(1.2rem, 1.1vw, 2rem)
  }
  input{
    @extend select;
  }
    button{
      font-size: clamp(1.5rem, 1.3vw, 2rem);
    }
  }
}

//info dialog
.infoDialog{
  h2{
      font-size: clamp(1.6rem, 1.7vw, 2.2rem);
      color: var(--black);
    }
    &__userAvatar{
    small{
      font-size: clamp(1.2rem, 2vw, 1.6rem);
    }
  }
}

//edit dialog
.editDialog{
  &__header{
    h2{
      font-size: 2rem;
    }
  }
  &__form{
    select{
    font-size: clamp(1.3rem, 1.2vw, 2.6rem);
    color: var(--black);
  }
  option{
    font-size: clamp(1.4rem, 1.3vw, 2rem);
  }
  label{
    font-size: clamp(1.2rem, 1.1vw, 2rem)
  }
  input{
    @extend select;
  }
  }
}